body{
	background-color: white;
	float: left;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1{
	font-size: 19px;
	color: #622324;
}

hr{
	width: 50%;
}

h2{
	color: black;
	font-size: 15px;
}
